@import url('../font/font.css');

#how{
    height: 376px;
    width: 100%;
    background-color: #fff2cc;
    text-align: center;
}
#how h1{
    font-size: 65px;
    padding-top: 140px;
    margin: 0px 0px 24px;
    font-family: 'Objectivity-Bold';
}
#how input{
    height:45px ;
    width: 700px;
    border-radius: 6px;
    font-size: 20px;
    border: 1px solid #a1a7b2;
    padding-left: 20px;
}
#quick div{
    height: 180px;
    width: auto;
    /* background-color: aquamarine; */
    text-align: center;
    cursor: pointer;
    margin: auto;
}
#quick1 h2{
    font-size: 36px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    font-family: 'Objectivity-Bold';
}
#quick{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    /* border: 1px solid red; */
    height: 350px;
    width: 100%;
    margin: auto;
    
}
#quick1 p{
    margin: auto;
    text-align: center;
    font-size: 22px;
    color: #3070f0;
    margin-top: -30px;
    font-family: 'PT Root UI Bold';
}
#quick img{
    border-radius: 10px;
}
#guide{
    /* border: 1px solid red; */
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,1fr);
}
#guide>div{
    height: 200px;
    width: 380px;
    /* border: 1px solid blue; */
    margin: auto;
}
#guide1 h2{
    text-align: center;
    font-size: 36px;
    margin-top: 70px;
    font-family: 'Objectivity-Bold';
}
#guide div h3{
    font-size: 22px;
    color: #3070f0;
    font-family: 'PT Root UI Bold';
}
#guide div p{
    font-size: 18px;
    margin-left: 50px;
    margin-top: -10px;
    font-family: 'PT Root UI Medium';
    margin-top: 20px;
    margin-bottom: 10px;
}
.icon{
    display: flex;
    gap: 20px;
    line-height: 1.5;
}
#bottomLine{
    margin-top: 30px;
    border-bottom: 1px solid rgb(191, 190, 190);
}
.guideLine{
    width: 400px;
    border-bottom: 1px solid rgb(191, 190, 190);
}
#questions{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,450px);
    /* border: 1px solid red;   */
    /* height: 800px; */
    width: auto;
    margin: auto;
    background-color: #f8f9fa;
    margin-top: -30px;
    
    
}
#questions1 div{
    
    padding-left: 30px;
}
#questions div{
    height: auto;
    width: 400px;
    /* border: 1px solid blue; */
    
}
#questions1 h2{
    text-align: center;
    font-size: 36px;
    background-color: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 20px;
    font-family: 'PT Root UI Bold';
}
#questions div p{
    color: #3070f0;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'PT Root UI Medium';
}
.questionsLine{
    width: auto;
    border-bottom: 1px solid rgb(191, 190, 190);
}
#topic{
    height: 350px;
    width: 100%;
    background-color: #2542b8;
    margin-top: -30px;
    color: white;
    text-align: center;
}
#topic h2{
    font-size: 36px;
    padding-top: 70px;
    font-family: 'PT Root UI Bold';
}
#topic p{
    font-size: 20px;
    margin-top: 30px;
    font-family: 'PT Root UI Medium';
}
#topic div{
    margin: auto;
    height: 100px;
    width: 50%;
    /* border: 2px solid red; */
}
#topic button{
    margin-top: 15px;
    padding: 15px 25px 15px 25px;
    border-radius: 8px;
    border: none;
    border: 1px solid white;
    background-color: #2542b8;
    color: white;
    font-size: 15px;
}
#navbar .wrapper{
    background-color: #fff2cc !important;
}
